html ,body{
    font-family: Comic Sans MS, serif;
    overflow: hidden;
    color: #2b1d3e;
}

h1{
    font-size: 2.5vw;
}
h2{
    font-size: 2.5vw;
}
.h2{
    font-size: 2.5vw;
}.h3{
    font-size: 1.5vw;
}

.left-side{
    min-height: 100vh;
    background: url("../images/leftBG.webp") center/100%;
}
.right-side{
    height: 100vh;
    background-color: #ee756d;
}
.info-block{
    position: absolute;
    top: 10%;
    height: 80vh;
    background-color: #eae2cb;
    border-radius: 10px;
    overflow: auto;
    border: #000000 solid 1px;

    -webkit-box-shadow: 0px 0px 67px 16px rgba(0,0,0,0.44);
    -moz-box-shadow: 0px 0px 67px 16px rgba(0,0,0,0.44);
    box-shadow: 0px 0px 67px 16px rgba(0,0,0,0.44);
}

.info-site{
    padding-top: 5px;
    background: rgba(100,100,100, 0.5);
}
.my-name{
    padding-top: 5px;
    background: rgba(100,100,100, 0.5);
}

.carousel-item{
    padding-top: 2.5vh;
    height: 95vh;
}

.day-card{
    max-width: 90px !important;
    height: 12vh;
    margin: 5px 1.4vw;
    background: url("../images/day-card-BG.webp") center/220%;
    border-radius: 10px;
    border: #000000 solid 1px;
}
.current{
    -webkit-box-shadow: 0px 0px 15px 2px rgba(71,204,34,1);
    -moz-box-shadow: 0px 0px 15px 2px rgba(71,204,34,1);
    box-shadow: 0px 0px 15px 2px rgba(71,204,34,1);
}

.carousel-control-next-icon ,.carousel-control-prev-icon{
    color: #2b1d3e;
    font-size: 5vh;

}

@media screen and (max-width: 1550px){
    .day-card{
        margin: 15px 0.8vw;
    }
    .left-side{
        background: url("../images/leftBG.webp") ;
        background-size: cover;
    }
}
@media screen and (max-width: 1310px){
    .day-card{
        margin: 15px 0.5vw;
    }
}
@media screen and (max-width: 1280px){
    .day-card{
        margin: 15px 0.225vw;
    }
    h1{
        font-size: 3vw;
    }
    h2{
        font-size: 3vw;
    }
    .h2{
        font-size: 3vw;
    }
    .h3{
         font-size: 2vw;
    }

}
@media screen and (max-width: 1100px){
    .day-card{
        margin: 15px 0.001vw;
    }
    h1{
        font-size: 3.2vw;
    }
    h2{
        font-size: 3.2vw;
    }
    .h2{
        font-size: 3.2vw;
    }
    .h3{
        font-size: 2.2vw;
    }
}
@media screen and (max-width: 720px){
    .left-side{
        background: #ee756d none;
    }
    h1{
        font-size: 4vw;
    }
    h2{
        font-size: 4vw;
    }
    .h2{
        font-size: 4vw;
    }
    .h3{
        font-size: 3vw;
    }
}
